name: CI Template

on:
  workflow_call:
    inputs:
      service:
        description: 'The service name'
        required: true
        type: string
      dockerfile_path:
        description: 'The path to the Dockerfile'
        required: true
        type: string
      context_path:
        description: 'The build context path'
        required: true
        type: string
    secrets:
      docker_username:
        description: 'Dockerhub username'
        required: true
      docker_password:
        description: 'Dockerhub password'
        required: true

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}
      - name: Get the version
        id: get_version
        run: echo "VERSION=$(echo ${GITHUB_REF} | sed -E 's/.*@([^@]+)$/\1/')" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context_path }}
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: boomerangio/${{ inputs.service }}:latest,boomerangio/${{ inputs.service }}:${{ env.VERSION }}